body{
    font-family: system-ui ;
    background-color: wheat;
}
.put{
    height: 50px;
    width: 50px;
    border-radius: 3px ;
}
h1{
    text-align: center;
    text-decoration: solid;
    padding: auto;
    margin-left: 120px;
    margin-right: 120px;
    color: white;
    border-radius: 4px;
    background-color: rgb(233, 78, 67);
}
.button1{
    margin-top: 20px;
    width: 50px;
    height: 40px;
    font-size: 13px;
    background-color: rgb(233, 78, 67);
    color: white;
    border-radius: 3px;
}
#left{
    margin-top: 120px;
    text-align: center;
}
h2{
    padding: auto;
    margin-left: 250px;
    margin-right: 250px;
    color: white;
    border-radius: 4px;
    background-color: rgb(63, 58, 58);
}